@page
@model Trail_Tracker_App.Pages.Trails.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Model.Trail.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Trail.TrailId" />
            <div class="form-group">
                <label asp-for="Trail.MountainId" class="control-label"></label>
                <select asp-for="Trail.MountainId" class="form-control" asp-items="ViewBag.MountainId"></select>
                <span asp-validation-for="Trail.MountainId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trail.Name" class="control-label"></label>
                <input asp-for="Trail.Name" class="form-control" />
                <span asp-validation-for="Trail.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trail.Difficulty" class="control-label"></label>
                <input asp-for="Trail.Difficulty" class="form-control" />
                <span asp-validation-for="Trail.Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trail.Length" class="control-label"></label>
                <input asp-for="Trail.Length" class="form-control" />
                <span asp-validation-for="Trail.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trail.Description" class="control-label"></label>
                <input asp-for="Trail.Description" class="form-control" />
                <span asp-validation-for="Trail.Description" class="text-danger"></span>
            </div>
            <div class="form-group"><br>
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a class="btn btn-outline-secondary" asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
