@page
@model BlazorCodeGen.Data.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Backpack</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Backpack.BackpackId" />
            <div class="form-group">
                <label asp-for="Backpack.Name" class="control-label"></label>
                <input asp-for="Backpack.Name" class="form-control" />
                <span asp-validation-for="Backpack.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Backpack.Weight" class="control-label"></label>
                <input asp-for="Backpack.Weight" class="form-control" />
                <span asp-validation-for="Backpack.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Backpack.CapacityLiters" class="control-label"></label>
                <input asp-for="Backpack.CapacityLiters" class="form-control" />
                <span asp-validation-for="Backpack.CapacityLiters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Backpack.Description" class="control-label"></label>
                <input asp-for="Backpack.Description" class="form-control" />
                <span asp-validation-for="Backpack.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Backpack.CreatedAt" class="control-label"></label>
                <input asp-for="Backpack.CreatedAt" class="form-control" />
                <span asp-validation-for="Backpack.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
