@page
@model Trail_Tracker_App.Pages.MountainRanges.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Mountainrange</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mountainrange.Name" class="control-label"></label>
                <input asp-for="Mountainrange.Name" class="form-control" />
                <span asp-validation-for="Mountainrange.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mountainrange.Location" class="control-label"></label>
                <input asp-for="Mountainrange.Location" class="form-control" />
                <span asp-validation-for="Mountainrange.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mountainrange.Description" class="control-label"></label>
                <input asp-for="Mountainrange.Description" class="form-control" />
                <span asp-validation-for="Mountainrange.Description" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a class="btn btn-outline-secondary" asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
