@page
@model Trail_Tracker_App.Pages.Pictures.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Picture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PictureDTO.TrailName" class="control-label">Trail </label>
                <select asp-for="PictureDTO.TrailName" class="form-control" asp-items="ViewBag.TrailName"></select>
            </div>
   

            <div class="form-group">
                <label asp-for="PictureDTO.FormFile" class="control-label"></label>
                <input type="file" asp-for="PictureDTO.FormFile" class="form-control" />
                <span asp-validation-for="PictureDTO.FormFile" class="text-danger"></span>
            </div>

            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a class="btn btn-outline-secondary" asp-page="Index">Back to List</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
