@page
@model Trail_Tracker_App.Pages.Pictures.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Picture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PictureEditDTO.PictureId" />

            <div class="form-group">
                <label asp-for="PictureEditDTO.TrailName" class="control-label"></label>
                <select asp-for="PictureEditDTO.TrailName" class="form-control" asp-items="ViewBag.TrailName"></select>
                <span asp-validation-for="PictureEditDTO.TrailName" class="text-danger"></span>
            </div>

            <div class="form-group"><br>
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a class="btn btn-outline-secondary" asp-page="./Index">Back to List</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
