@page
@model Trail_Tracker_App.Pages.MyProfile.ProfileEditModel

@{
    ViewData["Title"] = "ProfileEdit";
}

<h1>Edit Bio</h1>

<h4>Userprofile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* <input type="hidden" asp-for="Userprofile.UserProfileId" />
            <div class="form-group">
                <label asp-for="Userprofile.UserId" class="control-label"></label>
                <select asp-for="Userprofile.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Userprofile.UserId" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="UserProfile.Bio" class="control-label">Bio</label>
                <input asp-for="UserProfile.Bio" class="form-control" />
                <span asp-validation-for="UserProfile.Bio" class="text-danger"></span>
            </div>

            @* <div class="form-group">
                <label asp-for="ProfileDTO.pictureUpload" class="control-label">Profile Picture</label>
                <input type="file" asp-for="ProfileDTO.pictureUpload" class="form-control" />
                <span asp-validation-for="ProfileDTO.pictureUpload" class="text-danger"></span>
            </div> *@

            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-outline-secondary" asp-page="./UserProfile">Back to Profile</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
