@page
@model Trail_Tracker_App.Pages.MyProfile.ProfilePicModel
@{
	ViewData["Title"] = "ProfilePic";
}

<h1>Add Profile Pic</h1>

<h4>Userprofile</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
            <label asp-for="ProfileDTO.PictureUpload" class="control-label">Profile Picture</label>
            <input type="file" asp-for="ProfileDTO.PictureUpload" class="form-control" />
            <span asp-validation-for="ProfileDTO.PictureUpload" class="text-danger"></span>
            </div>
            <br>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-outline-secondary" asp-page="./UserProfile">Back to Profile</a>
            </div>

        </form>
    </div>
</div>
