@page
@model Trail_Tracker_App.Pages.Pictures.IndexModel
@{
	ViewData["Title"] = "Pictures";
}


<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        @foreach (var picture in Model.Picture)
        {
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="@picture.FilePath" class="card-img-top" alt="Picture" style="max-width: 100%; height: auto;">
                    <div class="card-body">
                        <p class="card-text">@picture.Trail.Name</p>
                                                
                    </div>
                </div>
            </div>
        }
    </div>
</div>