@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>First register an account and then navigate to User Profiles to create your profile.</p>
</div>
